body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    min-height: calc(100vh - 200px);
}

.container {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#taskInputContainer {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.label-block,
.input-block {
    flex: 0 1 calc(50% - 5px); /* Adjust width of label and input blocks */
    margin-bottom: 10px;
}

.label-block label,
.input-block input,
.input-block select,
.input-block button {
    width: 100%; /* Make input elements take full width */
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#taskLists {
    margin-bottom: 20px;
}

#sortContainer {
    text-align: right;
}

.select-container {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.select-container select {
    margin-left: 10px;
}

.color-meanings {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
}

.red {
    background-color: #ffcccc;
}

.yellow {
    background-color: #ffe5b4;
}

.orange {
    background-color: yellow;
}

.green {
    background-color: #ccffcc;
}

.meaning {
    font-size: 14px;
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .label-block,
    .input-block {
        flex: 0 1 100%; /* Make label and input blocks take full width on small screens */
    }

    button {
        flex-basis: 100%;
        margin-top: 10px;
    }

    .select-container {
        flex-direction: column;
        align-items: flex-end;
    }

    .select-container select {
        margin-left: 0;
        margin-top: 10px;
    }
}
