/* CSS styles for the To-Do List Application */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    min-height: calc(100vh - 200px);
}

.container {
    width: 90%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.color-meanings {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
}

.red {
    background-color: #ffcccc; /* Light red background */
}

.yellow {
    background-color: #ffe5b4; /* Light orange background */
}

.orange {
    background-color: yellow; /* Yellow background */
}

.green {
    background-color: #ccffcc; /* Light green background */
}

.meaning {
    font-size: 14px;
}

#taskInputContainer {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

#taskInput {
    width: calc(70% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#categoryContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#categoryContainer label {
    margin-right: 10px;
}

#categorySelect {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
    margin-right: 10px;
}

input[type="date"],
input[type="datetime-local"] {
    width: calc(30% - 10px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

.task-table th {
    background-color: #007bff;
    color: #fff;
}

.task-table td {
    padding: 15px; /* Increase padding for larger cells */
    font-size: 16px; /* Increase font size for better readability */
}

.task-table .expired {
    background-color: #ffcccc; /* Light red background */
    color: #cc0000; /* Dark red text color */
}

.task-table .near-deadline {
    background-color: #ffe5b4; /* Light orange background */
    color: #ff6600; /* Orange text color */
}

.task-table .reminder-passed {
    background-color: yellow;
}

.task-table .active {
    background-color: #ccffcc; /* Light green background */
    color: #008000; /* Green text color */
}
